
/* font-family: 'Montserrat', sans-serif;
font-family: 'Tinos', serif; */

:root {
    --primary-color: #041F31;
    --text-color: #BDEBEA;
    --job-color: #d7e5ec;
    --hover-color: #00F5A0;
    --white-color: #fff;
    --gradient: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 0 5rem;
    background-color: var(--primary-color); 
}

aside {
    padding: 0 5rem;
}

a {
    text-decoration: none;
}

h3 {
    color: var(--text-color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
    letter-spacing: 0.096rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.menu a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2.8rem;
}

.menu a:hover {
    color: var(--hover-color);
    transition: all 300ms ease-in-out;
}

.intro {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.7rem;
    gap: 14rem;
}

.intro p {
    color: var(--text, #BDEBEA);
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.intro-content {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    gap: 1.5rem;
}

.intro-content-social {
    margin-top: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 6rem;
}

.intro-content-social img {
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.intro-content-social p {
    margin-top: 0.7rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: left;
}

.intro-content-git {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.intro-content-linkedin {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.intro-content-email {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}


.intro-content h3 {
    color: var(--job-color);
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: left;
}

.intro-content h1 {
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--gradient, linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    padding-top: 10rem;
    min-height: 100vh;
}

.projetos-container {
    display: grid;
    background-color: rgb(238, 238, 238);
    margin-top: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    grid-template-columns: 1.5fr 1.5fr;
}

.projetos-container h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.projetos-container p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding-top: 1rem;
    
}

.projetos-texto-content, .projetos-imagem {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.projetos-imagem img {
    width: 80%;
}

.projetos-texto-content {
    margin-left: 1.5rem;
    padding: 2rem;
}

.projetos-texto-content p {
    text-align: justify;
}

.projetos-skills {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 0.50rem;
}

.projetos-skills button {
    border-radius: 0.4rem;
    background: var(--gradient);
    color: rgb(31, 38, 38);
    white-space: nowrap;
    padding: 0.8rem 1.3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    outline: none;
    border: 0.1rem solid rgb(58, 58, 58);
}

.links-projetos {
    margin-top: 4.5rem;
    width: 100%;
}

.links-projetos a {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    background: var(--gradient);
    border-radius: 0.6rem;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.6rem;
}

.links-projetos a:hover {
    box-shadow: 0 0.05rem 1rem 0.1rem rgba(0, 0, 0, 0.199);
    transition: all 0.3s ease-in-out;
}

.skill-content {
    padding-top: 10rem;
}

.skill-content img {
    width: 12rem;
    height: 12rem;
    margin: auto;
}

.skill-content h4 {
    margin-top: 1.8rem;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
}

.skills-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.sobre-content {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 4rem;

}

.sobre-content-text {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: flex;
    flex-flow: column wrap;
}

.sobre-content-text p {
    padding: 1.5rem 0;
}

.sobre-img {
    display: flex;
    flex-flow: column wrap;
}

.sobre-img img {
    width: 100%;
    height: 100%;
}

#footer {
    padding-bottom: 2rem;
    padding-top: 20rem;
    text-align: center;
    font-size: 1.3rem;
}

#footer p {
    color: var(--text-color);
    margin: 0;
}

.heart {
    color: red;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    transform: rotate(-92deg);
    font-size: 2.5rem;
}

.back-to-top:hover {
    color: var(--hover-color);
}

.close-menu {
    display: none;
}

@media (max-width: 770px) {
    .menu {
        background-color: var(--primary-color);
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu-content > a {
        position: fixed;
        top: 0;
        padding-top: 4rem;
    }

    .menu ul li {
        margin: 2rem 0;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 0.5rem;
        color: var(--text-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: 'x';
        font-size: 3.5rem;
    }

    .intro {
        flex-direction: column;
        gap: 0.1rem;
    }

    .intro-content {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .intro-img {
        align-items: center;
    }

    .intro-img img {
        width: 60%;
    }

    .projetos-texto-content {
        margin: 1.5rem 0;
        padding: 0;
    }

    .projetos-texto-content p {
        text-align: center;
    }

    .projetos-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .projetos-container p {
        font-size: 1.6rem;
        padding: 1rem 0.1rem;
        margin: 0 1rem;
    }

    .projetos-skills {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .links-projetos {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    .links-projetos a {
        margin: auto;
    }

    .projetos-imagem {
        margin: 2rem;
    }
}